*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}

nav .logo {
    height: 100px;
    width: 200px;
}

nav .menu-icon {
    height: 20px;
    width: 30px;
    justify-content: right;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    color: #000;
    position: relative;
}

nav ul li a::before {
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    background: #d9f688;
    z-index: -1;
    left: 0;
    bottom: -5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: height 0.5s;
}

nav ul li a:hover::before {
    height: 80px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex-basis: 50%;
    position: relative;
}
.front-img{
    width: 600px;
    height: 500px;
    margin-top: 10px;
}

.thumb-img{
    width: 280px;
    position: absolute;
    bottom: 20px;
    left: 0px;
    border-radius: 8px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.col h1 {
    margin-top: 100px;
    margin-left: 100px;
}
.col a {
    margin-left: 100px;
    margin-top: 30px;
    padding: 18px 30px;
    text-decoration: none;
    background: #d9f688;
    border-radius: 30px;
    display: inline-block;
    color:#000;
    font-weight: 700;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
}